In [1]:
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import psycopg2
import pandas as pd

Index([u'sentence', u'commentID', u'child_id', u'children', u'comment_time',
       u'recipenumber', u'title', u'url', u'usercomment', u'username',
       u'usersite', u'usercomment_lower', u'tokens', u'tokens_stemmed',
       u'sentence_tokens', u'sentence_tokens_stemmed_stops',
       u'sentence_tokens_stemmed', u'category', u'category_simple',
       u'sent_neg', u'sent_neu', u'sent_pos', u'sent_compound'],
      dtype='object')

In [16]:
dbname = 'insight_project'
username = 'kateliea'

engine = create_engine('postgres://%s@localhost/%s' % (username, dbname))
print(engine.url)


# connect:
con = None
con = psycopg2.connect(database = dbname, user = username)

engine.table_names()

postgres://kateliea@localhost/insight_project

[u'sentences_table',
 u'recipes_table',
 u'comments_table',
 u'training_data_table']

In [13]:
user_query = 'best cocoa brownies'

query = "SELECT sentence FROM sentences_table WHERE title='%s'" % user_query

data = pd.read_sql_query(query,con)
data.head()

                                            sentence
0                                          ooohhhh….
1  the brownies look incredible…but where is the ...
2                                                  ?
3           these look so good, i have to make them!
4         wow i love the color it looks so delicious

In [ ]:
SELECT AVG(Price) AS PriceAverage FROM Products;

In [22]:
user_query = 'best cocoa brownies'

query = "SELECT AVG(sent_pos), MAX(sent_pos), MIN(sent_pos)  FROM training_data_table WHERE (title='%s'  " % user_query

data = pd.read_sql_query(query,con)
data.head()

        avg  max  min
0  0.240897  1.0  0.0